<?xml version="1.0" encoding="utf-8"?>
<settings>
  <setup_IO_pins>
    <!-- Valid Pins for a Raspberry Pi Model B -->
    <!-- 2, 3, 4, 7, 8, 9, 10, 11, 14, 15, 
	17, 18, 22, 23, 24, 25, 28, 29, 30, 31 -->
    <!-- Note Pins 28, 29, 30, 31 are the solder points next to the pins-->
    <!-- Valid Pins for a Raspberry Pi/2 Model B+ -->
    <!-- 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 
	14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26 -->
    <input>
      <pin type="PULLUP">2</pin>
      <pin type="PULLDOWN">3</pin>
    </input>
    <output>
      <!--The state of the output pin is whether it is high or low by default-->
      <pin state="HIGH">4</pin>
	  <pin state="LOW">7</pin>
    </output>
  </setup_IO_pins>
  <Control>
    <!--duration is in milliseconds and the length of time 
	  the pin changes states, 0 and less makes the pin a toggle-->
    <Output trigger="2">
      <pin>4</pin>
      <duration>500</duration>
    </Output>
  </Control>
</settings>